In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('csv//green_tripdata_2019-01.csv.gz')

In [3]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [2]:
from time import time

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [17]:
query = """
SELECT 1;
"""

pd.read_sql(query, con=engine)

   ?column?
0         1

In [11]:
!cd csv && wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-30 00:13:38--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230129T171254Z&X-Amz-Expires=300&X-Amz-Signature=e0fa64e865011460b3b4ecc4d84e04fd804abda79989d95d8613c4b6dbd720b2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-30 00:13:39--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230129T171254Z&X-Amz-Expires=300&X-Amz-Signature=e0fa64e865011460b3b4ecc4d84e04fd804abda79989d95d8613c4b6dbd720b2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: 'green_tripdata_2019-01.csv.gz'

     0K .......... .......... .......... .......... ..........  0%  864K 12s
    50K .......... .......... .......... .......... ..........  0% 1.62M 9s
   100K .......... .......... .......... .......... ..........  1% 1.95M 8s
   150K .......... .......... .......... .......... ..........  1% 4.44M 7s
   200K .......... .......... .......... .......... ..........  2% 4.00M 6s
   250K .......... .......... .......... .......... ..........  2% 3.44M 5s
   300K .......... .......... .......... .......... ..........  3% 7.51M 5s
   350K .......... .......... .......... .......... ..........  3% 7.04M 4s
   400K .......... .......... .......... .......... ..........  4% 4.39M 4s
   450K .......... .......... .......... .......... ..........  4% 9.45M 4s
   500K .......... .......... .......... .......... ..........  5% 5.83M 4s
   550K .......... .......... .......... .......... ..........  5% 11.0M 3s
   600K .......... .......... .......... .......... ..........  5% 8.82M 3s
   650K .......... .......... .......... .......... ..........  6% 9.81M 3s
   700K .......... .......... .......... .......... ..........  6% 8.71M 3s
   750K .......... .......... .......... .......... ..........  7% 7.39M 3s
   800K .......... .......... .......... .......... ..........  7% 9.06M 3s
   850K .......... .......... .......... .......... ..........  8% 10.0M 2s
   900K .......... .......... .......... .......... ..........  8% 8.48M 2s
   950K .......... .......... .......... .......... ..........  9% 7.26M 2s
  1000K .......... .......... .......... .......... ..........  9% 11.7M 2s
  1050K .......... .......... .......... .......... .......... 10% 9.97M 2s
  1100K .......... .......... .......... .......... .......... 10% 8.14M 2s
  1150K .......... .......... .......... .......... .......... 11% 4.93M 2s
  1200K .......... .......... .......... .......... .......... 11% 8.98M 2s
  1250K .......... .......... .......... .......... .......... 11% 11.3M 2s
  1300K .......... .......... .......... .......... .......... 12% 5.13M 2s
  1350K .......... .......... .......... .......... .......... 12% 10.1M 2s
  1400K .......... .......... .......... .......... .......... 13% 11.2M 2s
  1450K .......... .......... .......... .......... .......... 13% 8.33M 2s
  1500K .......... .......... .......... .......... .......... 14% 9.30M 2s
  1550K .......... .......... .......... .......... .......... 14% 6.94M 2s
  1600K .......... .......... .......... .......... .......... 15% 9.87M 2s
  1650K .......... .......... .......... .......... .......... 15% 11.3M 2s
  1700K .......... .......... .......... .......... .......... 16% 9.41M 2s
  1750K .......... .......... .......... .......... .......... 16%  507K 2s
  1800K .......... .......... .......... .......... .......... 17%  993K 2s
  1850K .......... .......... .......... .......... .......... 17% 5.52M 2s
  1900K .......... .......... .......... .......... .......... 17% 12.0M 2s
  1950K .......... .......... .......... .......... .......... 18% 2.43M 2s
  2000K .......... .......... .......... .......... .......... 18%  216M 2s
  2050K .......... .......... .......... .......... .......... 19% 58.6M 2s
  2100K .......... .......... .......... .......... .......... 19%  196M 2s
  2150K .......... .......... .......... .......... .......... 20% 68.9M 2s
  2200K .......... .......... .......... .......... .......... 20%  203M 2s
  2250K .......... .......... .......... .......... .......... 21% 78.3M 2s
  2300K .......... .......... .......... .......... .......... 21%  132M 2s
  2350K .......... .......... .......... .......... .......... 22% 79.5M 2s
  2400K .......... .......... .......... .......... .......... 22%  142M 2s
  2450K .......... .......... .......... .......... .......... 23%  104M 2s
  2500K .......... .......... .......... .......... .......... 23%  172M 2s
  2550K .......... .......... .......... .......... .......... 23%  140M 2s
  2600K .......... .......... .......... .......... .......... 24% 70.7M 2s
  2650K .......... .......... .......... .......... .......... 24%  160M 2s
  2700K .......... .......... .......... .......... .......... 25% 67.2M 2s
  2750K .......... .......... .......... .......... .......... 25%  196M 1s
  2800K .......... .......... .......... .......... .......... 26% 82.7M 1s
  2850K .......... .......... .......... .......... .......... 26% 8.82M 1s
  2900K .......... .......... .......... .......... .......... 27% 4.80M 1s
  2950K .......... .......... .......... .......... .......... 27% 2.86M 1s
  3000K .......... .......... .......... .......... .......... 28% 4.37M 1s
  3050K .......... .......... .......... .......... .......... 28% 5.05M 1s
  3100K .......... .......... .......... .......... .......... 29% 5.67M 1s
  3150K .......... .......... .......... .......... .......... 29% 3.79M 1s
  3200K .......... .......... .......... .......... .......... 29% 10.6M 1s
  3250K .......... .......... .......... .......... .......... 30% 8.71M 1s
  3300K .......... .......... .......... .......... .......... 30% 12.8M 1s
  3350K .......... .......... .......... .......... .......... 31% 9.53M 1s
  3400K .......... .......... .......... .......... .......... 31% 7.04M 1s
  3450K .......... .......... .......... .......... .......... 32% 7.43M 1s
  3500K .......... .......... .......... .......... .......... 32% 11.9M 1s
  3550K .......... .......... .......... .......... .......... 33% 8.48M 1s
  3600K .......... .......... .......... .......... .......... 33% 8.81M 1s
  3650K .......... .......... .......... .......... .......... 34% 9.15M 1s
  3700K .......... .......... .......... .......... .......... 34% 13.6M 1s
  3750K .......... .......... .......... .......... .......... 35% 8.07M 1s
  3800K .......... .......... .......... .......... .......... 35% 7.12M 1s
  3850K .......... .......... .......... .......... .......... 35% 9.68M 1s
  3900K .......... .......... .......... .......... .......... 36% 11.5M 1s
  3950K .......... .......... .......... .......... .......... 36% 9.65M 1s
  4000K .......... .......... .......... .......... .......... 37% 9.17M 1s
  4050K .......... .......... .......... .......... .......... 37% 5.27M 1s
  4100K .......... .......... .......... .......... .......... 38% 11.9M 1s
  4150K .......... .......... .......... .......... .......... 38% 9.10M 1s
  4200K .......... .......... .......... .......... .......... 39% 7.16M 1s
  4250K .......... .......... .......... .......... .......... 39% 9.53M 1s
  4300K .......... .......... .......... .......... .......... 40% 8.23M 1s
  4350K .......... .......... .......... .......... .......... 40% 12.3M 1s
  4400K .......... .......... .......... .......... .......... 41% 8.09M 1s
  4450K .......... .......... .......... .......... .......... 41% 7.83M 1s
  4500K .......... .......... .......... .......... .......... 41% 9.52M 1s
  4550K .......... .......... .......... .......... .......... 42% 10.8M 1s
  4600K .......... .......... .......... .......... .......... 42% 7.41M 1s
  4650K .......... .......... .......... .......... .......... 43% 9.80M 1s
  4700K .......... .......... .......... .......... .......... 43% 10.0M 1s
  4750K .......... .......... .......... .......... .......... 44% 7.32M 1s
  4800K .......... .......... .......... .......... .......... 44% 11.7M 1s
  4850K .......... .......... .......... .......... .......... 45% 7.68M 1s
  4900K .......... .......... .......... .......... .......... 45% 9.28M 1s
  4950K .......... .......... .......... .......... .......... 46% 10.2M 1s
  5000K .......... .......... .......... .......... .......... 46% 5.04M 1s
  5050K .......... .......... .......... .......... .......... 47% 9.50M 1s
  5100K .......... .......... .......... .......... .......... 47% 9.38M 1s
  5150K .......... .......... .......... .......... .......... 47% 9.87M 1s
  5200K .......... .......... .......... .......... .......... 48% 8.69M 1s
  5250K .......... .......... .......... .......... .......... 48% 8.18M 1s
  5300K .......... .......... .......... .......... .......... 49% 8.79M 1s
  5350K .......... .......... .......... .......... .......... 49% 9.99M 1s
  5400K .......... .......... .......... .......... .......... 50% 8.32M 1s
  5450K .......... .......... .......... .......... .......... 50% 7.40M 1s
  5500K .......... .......... .......... .......... .......... 51% 9.01M 1s
  5550K .......... .......... .......... .......... .......... 51% 7.07M 1s
  5600K .......... .......... .......... .......... .......... 52% 8.80M 1s
  5650K .......... .......... .......... .......... .......... 52% 12.0M 1s
  5700K .......... .......... .......... .......... .......... 53% 8.45M 1s
  5750K .......... .......... .......... .......... .......... 53% 9.36M 1s
  5800K .......... .......... .......... .......... .......... 53% 6.92M 1s
  5850K .......... .......... .......... .......... .......... 54% 5.91M 1s
  5900K .......... .......... .......... .......... .......... 54% 10.1M 1s
  5950K .......... .......... .......... .......... .......... 55% 11.9M 1s
  6000K .......... .......... .......... .......... .......... 55% 7.50M 1s
  6050K .......... .......... .......... .......... .......... 56% 9.69M 1s
  6100K .......... .......... .......... .......... .......... 56% 7.93M 1s
  6150K .......... .......... .......... .......... .......... 57% 8.38M 1s
  6200K .......... .......... .......... .......... .......... 57% 7.06M 1s
  6250K .......... .......... .......... .......... .......... 58% 13.0M 1s
  6300K .......... .......... .......... .......... .......... 58% 7.69M 1s
  6350K .......... .......... .......... .......... .......... 59% 9.85M 1s
  6400K .......... .......... .......... .......... .......... 59% 10.5M 1s
  6450K .......... .......... .......... .......... .......... 59% 9.67M 1s
  6500K .......... .......... .......... .......... .......... 60% 9.57M 1s
  6550K .......... .......... .......... .......... .......... 60% 8.73M 1s
  6600K .......... .......... .......... .......... .......... 61% 6.55M 1s
  6650K .......... .......... .......... .......... .......... 61% 10.3M 1s
  6700K .......... .......... .......... .......... .......... 62% 12.8M 1s
  6750K .......... .......... .......... .......... .......... 62% 4.59M 1s
  6800K .......... .......... .......... .......... .......... 63% 9.80M 1s
  6850K .......... .......... .......... .......... .......... 63% 9.44M 1s
  6900K .......... .......... .......... .......... .......... 64% 9.43M 1s
  6950K .......... .......... .......... .......... .......... 64% 7.12M 1s
  7000K .......... .......... .......... .......... .......... 65% 7.70M 1s
  7050K .......... .......... .......... .......... .......... 65% 6.51M 1s
  7100K .......... .......... .......... .......... .......... 65% 12.7M 1s
  7150K .......... .......... .......... .......... .......... 66% 9.66M 1s
  7200K .......... .......... .......... .......... .......... 66% 7.40M 1s
  7250K .......... .......... .......... .......... .......... 67% 8.21M 1s
  7300K .......... .......... .......... .......... .......... 67% 13.1M 1s
  7350K .......... .......... .......... .......... .......... 68% 9.46M 0s
  7400K .......... .......... .......... .......... .......... 68% 6.71M 0s
  7450K .......... .......... .......... .......... .......... 69% 7.14M 0s
  7500K .......... .......... .......... .......... .......... 69% 9.35M 0s
  7550K .......... .......... .......... .......... .......... 70% 11.0M 0s
  7600K .......... .......... .......... .......... .......... 70% 9.28M 0s
  7650K .......... .......... .......... .......... .......... 71% 5.83M 0s
  7700K .......... .......... .......... .......... .......... 71% 9.29M 0s
  7750K .......... .......... .......... .......... .......... 71% 8.90M 0s
  7800K .......... .......... .......... .......... .......... 72% 8.15M 0s
  7850K .......... .......... .......... .......... .......... 72% 10.4M 0s
  7900K .......... .......... .......... .......... .......... 73% 7.44M 0s
  7950K .......... .......... .......... .......... .......... 73% 10.1M 0s
  8000K .......... .......... .......... .......... .......... 74% 9.91M 0s
  8050K .......... .......... .......... .......... .......... 74% 10.9M 0s
  8100K .......... .......... .......... .......... .......... 75% 7.62M 0s
  8150K .......... .......... .......... .......... .......... 75% 8.34M 0s
  8200K .......... .......... .......... .......... .......... 76% 6.56M 0s
  8250K .......... .......... .......... .......... .......... 76% 7.72M 0s
  8300K .......... .......... .......... .......... .......... 77% 11.8M 0s
  8350K .......... .......... .......... .......... .......... 77% 9.00M 0s
  8400K .......... .......... .......... .......... .......... 77% 7.31M 0s
  8450K .......... .......... .......... .......... .......... 78% 10.4M 0s
  8500K .......... .......... .......... .......... .......... 78% 11.9M 0s
  8550K .......... .......... .......... .......... .......... 79% 4.54M 0s
  8600K .......... .......... .......... .......... .......... 79% 7.45M 0s
  8650K .......... .......... .......... .......... .......... 80% 6.54M 0s
  8700K .......... .......... .......... .......... .......... 80% 9.16M 0s
  8750K .......... .......... .......... .......... .......... 81% 11.7M 0s
  8800K .......... .......... .......... .......... .......... 81% 7.21M 0s
  8850K .......... .......... .......... .......... .......... 82% 7.59M 0s
  8900K .......... .......... .......... .......... .......... 82% 12.0M 0s
  8950K .......... .......... .......... .......... .......... 83% 8.21M 0s
  9000K .......... .......... .......... .......... .......... 83% 7.50M 0s
  9050K .......... .......... .......... .......... .......... 83% 8.23M 0s
  9100K .......... .......... .......... .......... .......... 84% 8.25M 0s
  9150K .......... .......... .......... .......... .......... 84% 11.8M 0s
  9200K .......... .......... .......... .......... .......... 85% 8.20M 0s
  9250K .......... .......... .......... .......... .......... 85% 9.76M 0s
  9300K .......... .......... .......... .......... .......... 86% 8.45M 0s
  9350K .......... .......... .......... .......... .......... 86% 11.3M 0s
  9400K .......... .......... .......... .......... .......... 87% 4.81M 0s
  9450K .......... .......... .......... .......... .......... 87% 8.75M 0s
  9500K .......... .......... .......... .......... .......... 88% 8.84M 0s
  9550K .......... .......... .......... .......... .......... 88% 11.0M 0s
  9600K .......... .......... .......... .......... .......... 89% 9.24M 0s
  9650K .......... .......... .......... .......... .......... 89% 9.82M 0s
  9700K .......... .......... .......... .......... .......... 89% 7.92M 0s
  9750K .......... .......... .......... .......... .......... 90% 11.0M 0s
  9800K .......... .......... .......... .......... .......... 90% 7.53M 0s
  9850K .......... .......... .......... .......... .......... 91% 7.86M 0s
  9900K .......... .......... .......... .......... .......... 91% 10.0M 0s
  9950K .......... .......... .......... .......... .......... 92% 10.2M 0s
 10000K .......... .......... .......... .......... .......... 92% 11.1M 0s
 10050K .......... .......... .......... .......... .......... 93% 7.93M 0s
 10100K .......... .......... .......... .......... .......... 93% 10.3M 0s
 10150K .......... .......... .......... .......... .......... 94% 8.03M 0s
 10200K .......... .......... .......... .......... .......... 94% 7.15M 0s
 10250K .......... .......... .......... .......... .......... 95% 6.20M 0s
 10300K .......... .......... .......... .......... .......... 95% 6.94M 0s
 10350K .......... .......... .......... .......... .......... 95% 8.70M 0s
 10400K .......... .......... .......... .......... .......... 96% 11.3M 0s
 10450K .......... .......... .......... .......... .......... 96% 8.31M 0s
 10500K .......... .......... .......... .......... .......... 97% 9.73M 0s
 10550K .......... .......... .......... .......... .......... 97% 8.96M 0s
 10600K .......... .......... .......... .......... .......... 98% 5.56M 0s
 10650K .......... .......... .......... .......... .......... 98% 7.94M 0s
 10700K .......... .......... .......... .......... .......... 99% 13.7M 0s
 10750K .......... .......... .......... .......... .......... 99% 9.53M 0s
 10800K .......... .......... .......... .........            100% 13.0M=1.5s

2023-01-30 00:13:41 (7.26 MB/s) - 'green_tripdata_2019-01.csv.gz' saved [11099245/11099245]

In [24]:
df = pd.read_csv('csv//green_tripdata_2019-01.csv')

In [25]:
len(df)

630918

In [6]:
df_iter = pd.read_csv('csv//green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [7]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_tripdata', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 10.307 second
inserted another chunk, took 10.186 second
inserted another chunk, took 9.468 second
inserted another chunk, took 9.939 second
inserted another chunk, took 10.111 second
inserted another chunk, took 9.917 second
inserted another chunk, took 3.289 second

StopIteration:

In [29]:
query = """
SELECT * FROM pg_catalog.pg_tables
WHERE schemaname NOT IN ('pg_catalog','information_schema')
;
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [21]:
query = """
SELECT * FROM public.green_tripdata
LIMIT 10
;
"""

pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,300000,2,2019-01-15 22:15:48,2019-01-15 22:22:21,N,1,41,74,1,1.11,...,0.5,0.5,0.00,0.00,None,0.3,7.80,2,1,None
1,300001,2,2019-01-15 22:56:36,2019-01-15 23:10:05,N,1,74,239,1,3.12,...,0.5,0.5,3.45,0.00,None,0.3,17.25,1,1,None
2,300002,2,2019-01-15 22:28:32,2019-01-15 22:49:08,N,1,65,36,1,4.64,...,0.5,0.5,3.76,0.00,None,0.3,22.56,1,1,None
3,300003,2,2019-01-15 22:02:47,2019-01-15 22:45:03,N,1,3,189,1,20.01,...,0.5,0.5,0.00,5.76,None,0.3,64.06,1,1,None
4,300004,2,2019-01-15 22:20:53,2019-01-15 22:35:35,N,1,65,133,1,4.05,...,0.5,0.5,3.26,0.00,None,0.3,19.56,1,1,None
5,300005,2,2019-01-15 23:06:58,2019-01-15 23:30:57,N,1,181,77,1,5.38,...,0.5,0.5,0.00,0.00,None,0.3,21.30,1,1,None
6,300006,2,2019-01-15 22:07:54,2019-01-15 22:27:03,N,1,181,87,6,3.21,...,0.5,0.5,3.70,0.00,None,0.3,20.00,1,1,None
7,300007,2,2019-01-15 22:02:57,2019-01-15 22:16:41,N,1,42,127,1,4.66,...,0.5,0.5,0.00,0.00,None,0.3,17.30,2,1,None
8,300008,2,2019-01-15 22:06:49,2019-01-15 22:23:33,N,1,181,89,1,3.32,...,0.5,0.5,3.06,0.00,None,0.3,18.36,1,1,None
9,300009,2,2019-01-15 23:00:27,2019-01-15 23:18:31,N,1,181,89,1,4.21,...,0.5,0.5,0.00,0.00,None,0.3,17.30,1,1,None

In [8]:
query = """
SELECT COUNT(*) FROM green_tripdata;
"""

pd.read_sql(query, con=engine)

    count
0  630918

In [26]:
query = """
DROP TABLE if exists green_tripdata;
"""

pd.read_sql(query, con=engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [15]:
!cd csv && wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-30 00:21:46--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.114.69, 52.217.85.198, 52.217.89.214, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.114.69|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.1'

     0K .......... ..                                         100%  817K=0.01s

2023-01-30 00:21:48 (817 KB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

In [16]:
df_zones = pd.read_csv('csv//taxi+_zone_lookup.csv')

In [17]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [18]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [19]:
query = """
SELECT COUNT(*) FROM zones;
"""

pd.read_sql(query, con=engine)

   count
0    265